body {
 font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
 font-size: 15px;
 margin: 80px 120px;
 }
h1, h2, h3 {
 font-weight: normal;
 padding: 0;
}
h1 {
 font-size: 50px;
 color: #d44;
 margin: 6px auto 0px auto;
 text-align: center;
}
h2 {
 text-transform: uppercase;
 font-weight: bold;
 font-size: 20px;
 margin: 11px auto 24px auto;
 text-align: center;
 color: #888;
}
h3 {
 font-size: 20px;
 margin: 0 0 18px 0;
}
p {
 margin: 0 0 15px 0;
}
.robbery p {
 margin: 0;
}
a {
 text-decoration: none;
}
a:link {
 color: #e22;
}
a:visited {
 color: #e22;
}
strong {
 font-weight: bold;
 color: #666;
}
